<!-- Header-ligt -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<!-- Reference home -->
	<a class="navbar-brand" href="./">Home</a>
	<!-- Making header responsive -->
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarText" aria-controls="navbarText"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarText">
	<!-- Navbar with links based if user is logged in or not -->
		<ul class="navbar-nav mr-auto">
		<!-- Logged in Users -->
			<% if( userBean.getUserName() != null) {  %>
			<li class="nav-item"><a class="nav-link" href="./blog">Posts</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="./create">Create</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="./logout">Logout</a>
			</li>
			<% } %>
		<!-- Not logged in Users -->
			<% if( userBean.getUserName() == null) {  %>
			<li class="nav-item"><a class="nav-link" href="./register">Register</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="./login">Login</a>
			</li>
			<% } %>
		</ul>
		<!-- Welcome message -->
		<% if( userBean.getUserName() != null) {  %>
		<div>
			<a class="nav-link black" href="./account">Howdy, <%= userBean.getUserName() %></a>
		</div>
		<% } %>
		<!-- Show admin panel if user is admin -->
		<% if( userBean.getRole() == 2) {  %>
		<div>
			<a class="btn btn-primary" href="./admin">Admin</a>
		</div>
		<% } %>
	</div>
</nav>
